# Project exclude paths
/target/
/docker/kafka/kafka_2.13-2.6.0.tgz
/kafka-samples.iml
/docker/sample-producer/kafka-samples-1.0-SNAPSHOT-fat.jar
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/.idea/ClojureProjectResolveSettings.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
